@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    --bg: #f8f8f8;
    --bg-form: #fff;
    --color-text: #000;
    --white: #fff;
    --box-shadow: #dbdbdb;
}
body {
    background: var(--bg);
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    transition: background 0.2s linear;
}

a {
    color: var(--color-text);
    outline: none;
    text-decoration: none;
    font-size: 15px;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar ul {
    display: inline-flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 2rem;
    margin: 1rem;
}
.nav {
    color: var(--color-text);
}
/* Botao de darkmode */
.darkmode {
    opacity: 0;
    position: absolute;
}

.darkmode:checked + .label .ball {
    transform: translateX(-24px);
}

.label {
    background: #fff;
    box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    height: 30px;
    width: 60px;
    position: relative;
    padding: 6px;
}

.ball {
    border-radius: 50%;
    background: #fff;
    box-shadow: 1px 1px 3px rgb(0, 0, 0, 0.5);
    width: 27px;
    height: 24px;
    position: absolute;
    right: 3px;
    transition: transform 0.2s linear;
}

.container {
    height: 100vh;
}

section.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 16px;
}

.form {
    box-shadow: 3px 10px 10px var(--box-shadow);
    background: var(--bg-form);
    color: var(--color-text);
    border-radius: 1rem;

    display: grid;
    justify-items: center;
    align-content: center;
    gap: 2rem;
    width: 100%;
    max-width: 37.5rem;
    height: 40.625rem;
}

.email-password {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 35px;
}

#emailUser,
#passwordUser, #username {
    width: 28.125rem;
    height: 2.5rem;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 0.5625rem;
    margin: 0 0 15px;
    font-size: 15px;
}

#emailUser:focus,
#passwordUser:focus {
    opacity: 0.8;
    outline: none;
}

.submit {
    margin: 15px 0 15px;
}

.titleRemember {
    margin: 0 10px;
}

.submit {
    width: 100%;
    height: 40px;
    max-width: 450px;

    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #d801ff, #8500ff);
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.submit:hover {
    opacity: 0.8;
}

.form-footer {
    display: inline-flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 1rem 0 0;
}

/* Responsividade */
/* Menor que 320px */
@media only screen and (max-width: 320px) {

    body,
    .submit,
    .forgotPassword,
    .form-footer a {
        font-size: calc(8px + 1vmin);
    }

    .form {
        max-width: 250px;
    }

    #emailUser,
    #passwordUser {
        max-width: 200px;
    }

    .titleLogin {
        font-size: calc(30px + 1vmin);
    }

    .form-footer {
        text-align: center;
    }
}

/* Maior que 321px e menor que 424px */
@media screen and (min-width: 321px) and (max-width: 424px) {

    body,
    .submit {
        font-size: calc(8px + 1vmin);
    }

    .form {
        max-width: 340px;
    }

    #emailUser,
    #passwordUser,
    .form-footer {
        max-width: 280px;
    }

    .titleLogin {
        font-size: calc(30px + 1vmin);
    }

    .form-footer {
        text-align: center;
    }
}

/* Maior que 425px e menor que 699px */
@media screen and (min-width: 425px) and (max-width: 699px) {

    body,
    .submit {
        font-size: calc(8px + 1vmin);
    }

    .form {
        max-width: 400px;
    }

    #emailUser,
    #passwordUser,
    .form-footer {
        max-width: 350px;
    }

    .titleLogin {
        font-size: calc(30px + 1vmin);
    }

    .form-footer {
        text-align: center;
    }
}

/* Tablets - Maior que 700px e menor que 1023px*/
@media screen and (min-width: 700px) and (max-width: 1023px) {

    body,
    .submit {
        font-size: calc(8px + 1vmin);
    }

    .form {
        max-width: 440px;
    }

    #emailUser,
    #passwordUser,
    .form-footer {
        max-width: 350px;
    }

    .titleLogin {
        font-size: calc(30px + 1vmin);
    }
}

@media screen and (min-width:1024px) {

    body,
    .submit {
        font-size: calc(8px + 1vmin);
    }

    .form {
        max-width: 540px;
    }

    #emailUser,
    #passwordUser,
    .form-footer {
        max-width: 450px;
    }

    .titleLogin {
        font-size: calc(30px + 1vmin);
    }
}

@media (min-width:1400px) {

    body,
    .submit {
        font-size: calc(8px + 1vmin);
    }

    .form {
        max-width: 590px;
    }

    #emailUser,
    #passwordUser,
    .form-footer {
        max-width: 450px;
    }

    .titleLogin {
        font-size: calc(30px + 1vmin);
    }
}